body {
  /*background: black;*/
  width: 100%;
  margin: auto;
  color: white;
  font-size: 20px;
}

pre {
  width: 100%;
}
.container {
  margin-top: 20px;
  position: relative;
}

textarea#snippet {
  width: 100%;
  min-height: 400px;
  /*background: black;*/
  border: none;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar {
  position: absolute;
  right: 0;
  top: 0;
}