body {
  /*background: black;*/
  width: 100%;
  margin: auto;
  font-size: 20px;
}

pre {
  width: 100%;
}

.container {
  width: 95%;
  margin-top: 45px;
  position: relative;
}

textarea#snippet {
  width: 100%;
  min-height: 400px;
  /*background: black;*/
  /*border: none;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;*/
}

/*.navbar {
  position: absolute;
  right: 0;
  top: 0;
}*/

/*.navbar-fixed-top {
  margin-right: 15px;
  margin-left: 15px;
}*/